#ignore Temp Files created by Word
*~*
#ignore thumbnails created by windows
Thumbs.db
#ignore Desktop Service Store files created by mac
*.DS_Store
#Ignore files built by Eclipse
*.class
*.pdf
#*.odb
#*.odf
.metadata/
.classpath
.project
.settings/
bin/
#objectdb-2.2.0/
#ignore temporary enterprise architect files
.ldb
